@charset "utf-8";
/*====================
全般的なスタイル
====================*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cccccc;
  font-size: 95%;
  font-family: "MSゴシック", sans-serif;
  line-height: 1.5;
  color: #333333;
}
div#pagebody {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}

/*====================
メインメニュー
====================*/
ul#menu {
  width: 960px;
  height: 50px;
  margin: 0px 20px;
}
#menu li {
  list-style-type: none;
  display: inline;
  float: left;
}
#menu li a {
  background-color: navy;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 35px;
  padding: 15px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  background-image: url(images/bg_menu1.png);
  background-repeat: no-repeat;
}
#menu li a:hover {
  background-color: #000066;
  background-image: url(images/bg_menu2.png);
}
